*{
    margin: 0;
    padding: 0;
}
.container{
    width:100%;
    background: linear-gradient(to top,rgba(246, 241, 241, 0.5),rgba(246, 241, 241, 0.5)),url(3.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.header{
    display: flex;
    justify-content: center;
    color: darkmagenta;
    font-size: 30px;
    font-family: sans-serif;
}
.container1{
    margin-top: 50px;
    /*border: 2px solid black;*/
    height: 500px;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
}
.child{
    border: 2px solid rgb(148, 116, 116);
    display: inline-block;
    width: 400px;
    height:100px;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(174, 143, 143);
    border-radius: 30px;
    text-align: center;
    
}